{% comment %}FIX Sans la div au moment de reload tout est decallé {% endcomment %}
<div id='category-list' class='flex justify-center w-full'>
    <ul class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 2xl:grid-cols-4 gap-16 items-start'>
        {% for category in categories %}
            {% include "app/pages/categories/category.html" %}
        {% empty %}
            <h1 class="text-gray-800 font-bold text-base">
                No Category available
            </h1>
        {% endfor %}
    </ul>
</div>