<div 
    id="error-badge" 
    class="bg-red-100 rounded-xl border border-red-400 text-red-700 px-4 py-3 relative mt-1 mb-3 flex items-center"
    >
    <strong class="font-bold">Error: </strong>
    <span class="block sm:inline ml-2 flex-grow">{{ error_message }}</span>
    <button 
        class="text-red-700 hover:bg-red-200 rounded-full p-1 focus:outline-none" 
        aria-label="Close"
    >
        <svg class="w-4 h-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>
</div>
